body {
    padding-top: 220px;
    background-image: url(../img/people.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
}

.search-box {
    text-align : center;
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-box .btn-info {
    margin-top: 10px;
}

.search-box .form-control {
}