<!doctype html>
<html lang="en" ng-app="crowdApp">
<head>
  <meta charset="utf-8">
  <title>Crowdsourcing Platform</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body ng-controller="TaskListCtrl">

  <div class="container">

    <div class="page-header">
      <h1>Crowdsourcing Platform <small>Simple Prototype</small></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>Text</td>
          <td>Simulate User</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks">
          <td>{{task.id}}</td>
          <td>{{task.text}}</Td>
          <td><button class="btn btn-default" ng-click="simulateResult(task)">Simulate user result</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
<!--
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  -->
</body>
</html>
