 <h2>{{article.title}}</h2>
 
 <div class="alert alert-info">
	<strong>Job Management</strong>
	
	<div class="button-bar">
		<button class="btn btn-default" ng-click="showJobs()">Show Jobs</button>
		<button class="btn btn-default" ng-click="startJobs()">Send Jobs to Crowd Sourcing</button>
	</div>
 </div>
 
 <table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Text</th>
		<th>Status</th>
	</tr>
	<tr ng:repeat="par in pars">
		<td>{{par.id}}</td>
		<td>{{par.text}}</td>
		<td>{{par.status}}</td>
	</tr>
 </table>